floatingPlatform.png
spiderman.png:Zone.Identifier
floorBones.png
floorNormal.png
gameover.png
gameover.png:Zone.Identifier
startgame.png
piggy.png
topSpike.png
Spike-1.png
floorWater.png
piggy.png:Zone.Identifier
topSpikeBloody.png
Spike-2.png
psycho.png
default.png
ghost.png
psycho.png:Zone.Identifier
default.png:Zone.Identifier
ghost.png:Zone.Identifier
spiderman.png
test
settings.json
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
